    
    body{
    background-image: url('../img/b1.jpg');
    background-repeat: repeat;
    }
    
    /*////////// Font //////////*/
    @font-face {
    font-family: 'BNazanin';
    src: url('../font/BNazanin.woff2') format('woff2'),
         url('../font/BNazanin.woff') format('woff'),
         url('../font/BNazanin.ttf') format('truetype');
    }

    @font-face {
    font-family: 'BTitrBold';
    src: url('../font/BTitrBold.woff2') format('woff2'),
         url('../font/BTitrBold.woff') format('woff'),
         url('../font/BTitrBold.ttf') format('truetype');
    }
    /*////////// Font //////////*/

    /*////////// Main News //////////*/
    .mySlides-1 {
    display: none;
    }

    .slideshow-container1 img {
    vertical-align: middle;
    width: 100%;
    height: 100%;
    }

    /* Slideshow container */
    .slideshow-container1 {
    max-width: 100%;
    margin: auto;
    bottom: 0px;
    padding: 0px;
    }

    /* Caption text */
    .text {
    color: #000;
    font-family: BTitrBold, Arial;
    font-weight: bold;
    font-size:2vmax;
    position: absolute;
    top: 89%;
    width: 100%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    margin: auto;
    direction: rtl;
    }

    /* Number text (1/3 etc) */
    .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    }

    .active {
    background-color: #717171;
    }

    /* Fading animation */
    .fadee {
    -webkit-animation-name: fadee;
    -webkit-animation-duration: 1.5s;
    animation-name: fadee;
    animation-duration: 1.5s;
    }

    @-webkit-keyframes fadee {
    from {opacity: .4} 
    to {opacity: 1}
    }

    @keyframes fadee {
    from {opacity: .4} 
    to {opacity: 1}
    }

    /* On smaller screens, decrease text size */
    @media only screen and (max-width: 300px) {
    .text {font-size: 11px}
    }
    /*////////// Main News //////////*/

        /*////////// Main News //////////*/
    .mySlides-1 {
    display: none;
    }

    .slideshow-container1 img {
    vertical-align: middle;
    width: 100%;
    height: 100%;
    }

    /* Slideshow container */
    .slideshow-container1 {
    max-width: 100%;
    margin: auto;
    bottom: 0px;
    padding: 0px;
    }

    /* Caption text */
    .text {
    color: #000;
    font-family: BTitrBold, Arial;
    font-weight: bold;
    font-size:2vmax;
    position: absolute;
    top: 89%;
    width: 100%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    margin: auto;
    direction: rtl;
    }

    /* Number text (1/3 etc) */
    .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    }

    .active {
    background-color: #717171;
    }

    /* Fading animation */
    .fadee {
    -webkit-animation-name: fadee;
    -webkit-animation-duration: 1.5s;
    animation-name: fadee;
    animation-duration: 1.5s;
    }

    @-webkit-keyframes fadee {
    from {opacity: .4} 
    to {opacity: 1}
    }

    @keyframes fadee {
    from {opacity: .4} 
    to {opacity: 1}
    }

    /* On smaller screens, decrease text size */
    @media only screen and (max-width: 300px) {
    .text {font-size: 11px}
    }
    /*////////// Main News //////////*/

    /*////////// News 1 //////////*/
    .news1 img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    height: 100%;
    }
    /*////////// News 1 //////////*/    

    /*////////// News 2 //////////*/
    .news2 img{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    height: 100%;  
    }
    /*////////// News 2 //////////*/    

    /*////////// Bar news (marquee) //////////*/
    .margine {
    margin-top: 0.2%;
    text-align: right;
    font-family: BNazanin, Arial;
    font-weight: bold;
    font-size: 1.5vmax;
    color: #000;
    }
   
   .margine img{
    height: 65%;
    }
    /*////////// Bar news (marquee) //////////*/

    /*////////// Footer //////////*/
    .footer {
    width: 100%;
    height: 100%;
    position: relative;
    background-image: url('../img/back-footer.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: center;
    background-position-x: center;
    }
    
    .footer-logo img{
    height: 80%;
    position: absolute;
    right:0.5%;
    display: block;
    margin-top: 1%;
    margin-bottom: auto;
    }
    /*////////// Footer //////////*/

   

